<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
  </style>
</head>
<body>
  <div class='wrap'>
    <div class="login-form center">
      <h1>메인페이지</h1>
      <h3>메인페이지에 어서오세요!</h3>

      <% if (user) { %>
        <h3>어서오세요! <%= user.name %>님</h3>
        <a href='/logout'>로그아웃</a>
      <% } else { %>
          <a href='/login.html'>로그인</a>
      <% } %>

    </div>
  </div>
</body>
</html>
